((# Physics-Trans v2.0 LaTeX template #))
((*- if config.get('layout', 'onecolumn') == 'twocolumn' *))
\documentclass[reprint,aps,prl]{((( document_class )))}
((*- else *))
\documentclass[reprint,aps,prl,onecolumn]{((( document_class )))}
((*- endif *))
\usepackage{fontspec}
\usepackage{kotex}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{float}
\usepackage{adjustbox}
\usepackage{hyperref}
\usepackage{booktabs}

\setmainfont[AutoFakeBold=1.5, AutoFakeSlant=0.2]{((( main_font )))}
\setsansfont[AutoFakeBold=1.5, AutoFakeSlant=0.2]{((( sans_font )))}

\renewcommand{\figurename}{그림}
\renewcommand{\tablename}{표}
\renewcommand{\bibsection}{}

\begin{document}

\title{((( metadata.translated_title | escape_latex )))}
\author{((( metadata.authors | escape_latex )))}

\begin{abstract}
((( abstract_text )))
\end{abstract}

\maketitle

((*- for block in body_blocks *))

((*- if block.type == 'section' *))
\section{((( (block.translated_text or block.text) | escape_latex )))}

((*- elif block.type == 'subsection' *))
\subsection{((( (block.translated_text or block.text) | escape_latex )))}

((*- elif block.type == 'paragraph' *))

((( (block.translated_text or block.text) | escape_latex_text )))

((*- elif block.type == 'equation' *))

((( (block.translated_text or block.text) | format_equation )))

((*- elif block.type == 'figure_caption' *))

((( block | format_figure )))

((*- elif block.type == 'table' *))

\begin{table}[H]
\centering
\caption{((( (block.translated_text or block.text) | escape_latex_text )))}
\vspace{0.5em}
((*- if block.table_img_path *))
\includegraphics[width=0.9\columnwidth]{((( 'figures/' + block.table_img_path | basename )))}
((*- elif block.rows *))
((( block | format_table )))
((*- elif block.data_text *))
\fbox{\parbox{0.9\columnwidth}{\small ((( block.data_text | escape_latex_text )))}}
((*- endif *))
\end{table}

((*- endif *))

((*- endfor *))

((*- if reference_blocks *))
\par\vspace{2em}{\Large\textbf{참고문헌}}\par\vspace{0.5em}
\begin{thebibliography}{99}
((*- set ns = namespace(ref_counter=0) *))
((*- for ref in reference_blocks *))
((*- for entry in ref.text | split_refs *))
((*- set ns.ref_counter = ns.ref_counter + 1 *))
((*- if entry | has_ref_num *))
\bibitem[((( entry | ref_num )))]{ref((( entry | ref_num )))} ((( entry | strip_ref_num | escape_latex )))
((*- else *))
\bibitem{refh((( ns.ref_counter )))} ((( entry | escape_latex )))
((*- endif *))

((*- endfor *))
((*- endfor *))
\end{thebibliography}
((*- endif *))

\end{document}
